.container {
    display: flex;
    height: 100vh;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .content {
        width: 100%;
    }

    h1 {
        font-size: 4rem;
        padding-bottom: 1rem;
    }

    .grid {
        display: grid;
        width: 100%;
        justify-content: center;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }

    .grid_item {
        height: 300px;
/*         border: 1px solid #333;
 */    }

    .picture {
        height: 90%;
        border: 1px solid #333;
    }

    .info {
        display: flex;
        justify-content: space-between;

        h3 {
            font-weight: 300;
        }
    }

    
}