.slash {
    width:100vw;
    height: 80vh;
    transform: skewY(4deg);
    background-color: darkcyan;
    z-index: 1;


    .container {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 5rem 8rem;
        padding-top: 5em;
        line-height: 1.5;
        color: #fff;
        transform: skewY(-4deg);

        .h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 300;
        }

        p {
            margin-top: 1rem;
        }
        
        button {
            width: 200px;
            margin-top: 1rem;
            padding: .5rem;
            text-decoration: none;
            color: #333;
            font-size: 1.11rem;
            border-radius: 5px;
            border: none;
            background-color: #fff;
            font-weight: 400;
            cursor: pointer;
        
            &:hover {
                background-color: rgb(179, 255, 0)
            }
        }
    }
}