@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap);

$font-stack: Poppins, sans-serrif;
$font-stack2: Outfit, sans-serrif;
$primary-color: purple;
$secondary-color: black;
$main-background: #0a192f;
$text-accent: rgb(0, 255, 200);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  color: $main-background;
}

html {
  scroll-behavior: smooth;

  a {
    text-decoration: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.root {
  background-color: $secondary-color;
}

.styledMain {
  // height: 100%;
  // background-color: $secondary-color;
  margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0 150px;
}

  .vertical {
    position: fixed;
    right: 40px;
    bottom: 0px;
    z-index: 11;

    a {
      writing-mode: vertical-rl;
      text-decoration: none;
      //position: absolute;
      ///transform: rotate(90deg);
      color: rgba(221, 234, 255, 0.6);
      bottom: 0;
      letter-spacing: 1px;
      transition: transform .5s;

      &:hover {
        color: $text-accent;
        cursor: pointer;
        transform: translateY(-10px);

      }
    }

    .line {
      margin-left: 10px;
      width: 1px;
      height: 150px;
      background-color: rgba(221, 234, 255, 0.6);
    }

}
