.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  height: 100vh;

  .content {
    /*         margin: 8rem 8rem 0 8rem;
 */
    display: flex;
    width: 100%;
    justify-content: space-between;

    .about {
      width: 50%;

      h1 {
        font-size: clamp(26px, 5vw, var(--fz-heading));
        margin: 10px 0px 40px;
        color: rgba(221, 234, 255, 0.95);
      }

      p {
        //padding-top: 1rem;
        width: 500px;
        //line-height: 2;
        font-weight: 300;
        //font-size: 1.3rem;
        color: rgba(221, 234, 255, 0.6);
        margin: 0 0 15px;
      }

      .link {
        text-decoration: none;
        color: rgb(0, 255, 200);
        font-size: 1rem;
        border-bottom: 1.3px solid rgb(0, 255, 200);
        cursor: pointer;
        font-weight: 400;
      }

      .companyTitle {
        color: rgb(0, 255, 200);
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0px 10px;
        margin: 20px 0px 0px;
        overflow: hidden;
        list-style: none;

        & li {
          color: rgba(221, 234, 255, 0.6);
          position: relative;
          margin-bottom: 10px;
          padding-left: 20px;
        }

        & li::before {
          content: "\2022";
          color: rgb(0, 255, 200);
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }

    .picture {
      margin-top: 50px;
      width: 300px;
      height: 300px;
      object-fit: contain;
      position: relative;

      .aboutImage {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }

      .imageBorder {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        border: 4px solid var(--green);
        position: absolute;
        top: 30px;
        left: 30px;
      }
    }
  }
}
