.container {
    display: flex;
    padding: 100px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .content {

        h1 {
            font-size: 4rem;
            color: rgba(221, 234, 255, 0.95);
        }

        label {
            color: rgba(221, 234, 255, 0.6);
        }

        form {
            margin-top: 2rem;
        }

        input {
            width: 350px;
            border: none;
            border-bottom: 1px solid rgba(221, 234, 255, 0.6);
            padding: 1rem 0 0 0;
            margin-right: 1rem;
            font-size: 1rem;
            outline: none;
            color: rgba(221, 234, 255, 0.95);
            background-color: black;
        }

        textarea {
            width: 350px;
            border: none;
            border-bottom: 1px solid rgba(221, 234, 255, 0.6);
            padding: 1rem 0 0 0;
            font-size: 1rem;
            outline: none;
            background-color: black;
            color: rgba(221, 234, 255, 0.95);
        }

        .submit {
            border: 2px solid black;
            background-color: #fff;
            width: 150px;
            color: black;
            padding: 1rem;
            border-radius: 4px;
            cursor: pointer;
            transition: all ease 0.8s;
            box-shadow: inset 0 0 0 0.1px #fff;

            &:hover {
                box-shadow: inset 200px 0 0 0 black;
                color: #fff;
            }
        }
    }
}