/* @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap);
 */
.header {
    box-sizing: border-box;
/*     width: 100vw;
 *//*     background-color: red;
 */    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 6rem;
    padding-top: 2rem;

    Link {
        text-decoration: none;
    }

    .links {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    
        a {
            text-decoration: none;
        }

        svg {
            width: 3rem;
            transition: transform .5s linear;


            &:hover {
                fill: darkcyan;
                transform: translateY(-2px);
                transition: transform .5s linear;
            }
        }
    

/*         &:hover {
            transform: translateY(-10px);
            transition: transform 1s linear;
        }
 */    }
}