/* @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap);
 */

$main-background: black;

.header {
  box-sizing: border-box;
  /*     width: 100vw;
 */background-color: $main-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  padding: 0 50px;
  position: fixed;
  top: 0;

  .links {
    width: 600px;
    font-size: .9rem;

    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
    }

    a {
      color: rgba(221, 234, 255, 0.6);
      text-decoration: none;
      scroll-snap-align: start;

      &:hover {
        color: rgba(221, 234, 255, 0.95);
        cursor: pointer;
      }

      &:active {
        color: rgb(0, 255, 200);
      }

      .accentColor {
        padding-right: .6rem;
        color: rgb(0, 255, 200);
      }
    }

    svg {
      width: 3rem;
      transition: transform 0.2s linear;
      fill: #333;

      &:hover {
        fill: darkcyan;
        transform: translateY(-1px);
        transition: transform 0.1s linear;
      }
    }

    /*         &:hover {
            transform: translateY(-10px);
            transition: transform 1s linear;
        }
 */
  }
}
