.footer {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 5rem;
    color: #333;
/*     margin-top: 3rem;
 */    

    .footerContainer {
        display: flex;
        width: 100%;
        color: #333;
        justify-content: space-between;

        p {
            display: inline-block;
            
           
        }

        .links {
            width: 25%;
            display: flex;
            justify-content: space-between;

        
            a {
                text-decoration: none;
                color: darkcyan;

                &:hover {
                    color: black;
                }
            }
        }
    }
        
}
